body{

background:lightblue;

font-family:arial;

margin:0;

}



.top{

background:green;

height:90px;

padding:20px;

}



.top h1{

color:white;

}



a{

margin:20px;

font-size:20px;

color:yellow;

}





.main{

display:flex;

padding:50px;

}



.left{

background:white;

width:600px;

padding:30px;

}



.left h1{

font-size:50px;

}



.left p{

font-size:22px;

}



button{

background:red;

color:white;

padding:20px;

font-size:25px;

border:5px solid black;

}





.right{

background:orange;

width:300px;

margin-left:100px;

padding:40px;

}



.right h2{

font-size:40px;

}





.right h3{

font-size:35px;

color:blue;

}





.boxes{

display:flex;

margin:50px;

}




.box{

background:white;

height:150px;

width:200px;

margin:30px;

text-align:center;

border:3px solid black;

}



.box h1{

font-size:50px;

}





.random{

background:purple;

color:white;

margin:30px;

padding:50px;

}



.random h2{

font-size:45px;

}



.random p{

font-size:25px;

}